<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
아이디 : <%= userInfo.userId %><br/>
비밀번호 : <%= userInfo.userPwd %><br/>
이름 : <%= userInfo.userName %><br/>
나이 : <%= userInfo.userAge %><br/>
<img src="<%= userFile %>" width="200">
</body>
</html>